body {
    background: #FFF;
    font-family: roboto;
}

.initial-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 1000px;
    z-index: 2;
}

.initial-screen img {
    width: 130px;
    height: 92px;
    margin: 72px 122px 94px 122px;
}

.initial-screen input {
    text-align: center;
    border-radius: 4px;
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    margin-bottom: 15px;
}

.active-screen {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 74vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background: #FFF;
    z-index: 3;
    overflow: scroll;
}

.active-screen ion-icon {
    font-size: 23px;
}

.active-screen-back {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}

.active-check {
    color: #28BB25;
    font-size: 20px;
    font-weight: bold;
}

.heading {
    text-align: center;
    font-weight: 700;
    padding: 20px;
} 

.chat-visibility {
    display: flex;
    flex-direction: column;
}

#submit {
    background: #E7E7E7;
    width: 109px;
    height: 45px;
    border: none;
    border-radius: 9px;
    font-size: 18px;
}

.hide {
    display: none;
}

.unhide {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #FFF;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    padding: 16px;
    box-shadow: 0px 5px 10px #F3F3F3;
}

.container {
    background:#F3F3F3;
    height: 100%;
    margin-top: 106px;
    margin-bottom: 90px;
}

.chat {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 40px;
    background: #FFFFFF;
    font-size: 14px;
    margin-top: 4px;
    padding-left: 8px;
    padding-right: 9px;
    border-radius: 2px;
}

.status {
    background:#DCDCDC;
}

.private {
    background:#FFDEDE;
}

.time {
    color: #AAAAAA;
}

.loading {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-between;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #FFF;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    padding: 16px;
    box-shadow: 0px -5px 10px #F3F3F3;
}

input {
    border: none;
    font-size: 18px;
    font-weight: 400;
}

.message::placeholder {
    font-style: italic;
    color: #000;

}

ion-icon {
    font-size: 35px;
}

.contacts {
    overflow: scroll;
}


.activate-contacts, .activate-visibility {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activate-contacts :first-child, .activate-visibility :first-child{
    display: flex;
    align-items: center;
}



